@font-face {
    font-family: "UniNeue";
    src: url("../fonts/UniNeue/UniNeueRegular.woff") format("woff"), url("../fonts/UniNeue/UniNeueRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UniNeue";
    src: url("../fonts/UniNeue/UniNeueLight.woff") format("woff"), url("../fonts/UniNeue/UniNeueLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "UniNeue";
    src: url("../fonts/UniNeue/UniNeueBook.woff") format("woff"), url("../fonts/UniNeue/UniNeueBook.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "UniNeue";
    src: url("../fonts/UniNeue/UniNeueBold.woff") format("woff"), url("../fonts/UniNeue/UniNeueBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "UniNeue";
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/UniNeue/UniNeueHeavy.woff2') format('woff2'), url('../fonts/UniNeue/UniNeueHeavy.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto'), url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: local('Roboto'), url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: local('Roboto'), url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
}